{% extends "base.html" %}
{% load static %}
{% block content1 %}
<div class="container mt-4">
  <!-- Certificat 1 -->
  <div class="row mb-3">
    <div class="col">
      <div class="p-4 bg-light border rounded shadow-sm">
        <h4 class="mb-2">Advanced Learning Algorithms</h4>
        <p class="text-muted">Coursera - Andrew Ng</p>
        <a href="https://www.coursera.org/account/accomplishments/verify/UKPQA632M37L?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=course" class="btn btn-primary btn-sm" target="_blank">Voir le certificat</a>
      </div>
    </div>
  </div>

  <!-- Certificat 2 -->
  <div class="row mb-3">
    <div class="col">
      <div class="p-4 bg-light border rounded shadow-sm">
        <h4 class="mb-2">Unsupervised Learning, Recommenders, Reinforcement Learning</h4>
        <p class="text-muted">Coursera - Andrew Ng</p>
        <a href="https://www.coursera.org/account/accomplishments/verify/E6XJGXU9RT38?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=course" class="btn btn-primary btn-sm" target="_blank">Voir le certificat</a>
      </div>
    </div>
  </div>

  <!-- Certificat 3 -->
  <div class="row mb-3">
    <div class="col">
      <div class="p-4 bg-light border rounded shadow-sm">
        <h4 class="mb-2">Neural Networks and Deep Learning</h4>
        <p class="text-muted">Coursera - Andrew Ng</p>
        <a href="https://www.coursera.org/account/accomplishments/verify/Q9V3VDD6YNVW?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=course" class="btn btn-primary btn-sm" target="_blank">Voir le certificat</a>
      </div>
    </div>
  </div>
  <!-- Certificat 4 -->
  <div class="row mb-3">
    <div class="col">
      <div class="p-4 bg-light border rounded shadow-sm">
        <h4 class="mb-2">Machine Learning</h4>
        <p class="text-muted">Coursera - Andrew Ng</p>
        <a href="https://www.coursera.org/account/accomplishments/specialization/CA6QZINL2RUQ?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=s12n" class="btn btn-primary btn-sm" target="_blank">Voir le certificat</a>
      </div>
    </div>
  </div>
  <!-- Certificat 5 -->
  <div class="row mb-3">
    <div class="col">
      <div class="p-4 bg-light border rounded shadow-sm">
        <h4 class="mb-2">Introduction to NoSQL Databases</h4>
        <p class="text-muted">IBM Coursera</p>
        <a href="https://www.coursera.org/account/accomplishments/verify/62LMZHYGQP3Y?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=course" class="btn btn-primary btn-sm" target="_blank">Voir le certificat</a>
      </div>
    </div>
  </div>
  <!-- Certificat 6 -->
  <div class="row mb-3">
    <div class="col">
      <div class="p-4 bg-light border rounded shadow-sm">
        <h4 class="mb-2">SQL for Data Science</h4>
        <p class="text-muted">University of California, Davis Coursera</p>
        <a href="https://www.coursera.org/account/accomplishments/verify/K87C32WSX3RB?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=course" class="btn btn-primary btn-sm" target="_blank">Voir le certificat</a>
      </div>
    </div>
  </div>
  <!-- Certificat 7 -->
  <div class="row mb-3">
    <div class="col">
      <div class="p-4 bg-light border rounded shadow-sm">
        <h4 class="mb-2">Programmation pour tous (mise en route de Python)</h4>
        <p class="text-muted">University of Michigan Coursera</p>
        <a href="https://www.coursera.org/account/accomplishments/verify/FPHT5U2YQ4D2?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=course" class="btn btn-primary btn-sm" target="_blank">Voir le certificat</a>
      </div>
    </div>
  </div>
  <!-- Certificat 8 -->
  <div class="row mb-3">
    <div class="col">
      <div class="p-4 bg-light border rounded shadow-sm">
        <h4 class="mb-2">Compétences Excel pour l’entreprise : les notions clés</h4>
        <p class="text-muted">Macquarie University Coursera</p>
        <a href="https://www.coursera.org/account/accomplishments/verify/ETYFA9AVL7RD?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=course" class="btn btn-primary btn-sm" target="_blank">Voir le certificat</a>
      </div>
    </div>
  </div>
  <!-- Certificat 9 -->
  <div class="row mb-3">
    <div class="col">
      <div class="p-4 bg-light border rounded shadow-sm">
        <h4 class="mb-2">The Ultimate SAP S/4HANA Course 2025: From Zero to Expert</h4>
        <p class="text-muted">Udemy</p>
        <a href="https://www.coursera.org/account/accomplishments/verify/ETYFA9AVL7RD?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=course" class="btn btn-primary btn-sm" target="_blank">Voir le certificat</a>
      </div>
    </div>
  </div>
  <!-- Certificat 10 -->
  <div class="row mb-3">
    <div class="col">
      <div class="p-4 bg-light border rounded shadow-sm">
        <h4 class="mb-2">SAP S/4HANA Finance & Controlling - Configuration & End User</h4>
        <p class="text-muted">Udemy</p>
        <a href="https://www.coursera.org/account/accomplishments/verify/ETYFA9AVL7RD?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=course" class="btn btn-primary btn-sm" target="_blank">Voir le certificat</a>
      </div>
    </div>
  </div>
</div>






{% endblock content1 %}
