body{
    /*background-color: #0F0F0F /*rgb(20,0,30)* /; */
    background-image: url('../images/ia-embarquee-blog.webp');
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    margin: 0;

    
}

.navbar {
    background-image: url('../images/image.webp');
}
.navbar-nav .nav-link:hover{
    font-weight:bold;
    color:#20a7d8/*#5DD62C #4fffb0*/;
}

.navbar-nav .nav-link{
    font-size: 20px;
}

.navbar-brand{
    font-size: 25px;
}

.navbar-dark{
    background-color:#202020/* rgb(18,1,46)*/;
    
}

.circular-image-container{
    width:260px;
    height:260px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #ccc;

    display: flex;
    justify-content: center;
    align-items: center;
}

.circular-image{
width:150%;
height: auto;
display: block;
}

.name{
    color: #fff;
}

.title{
    color: #4fffb0;
}

.social_links{
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #ccc;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about_image{
    width: 200px;
    height: auto;
    display: block;
}

.jumbtron{
    background-color: #002244;
    padding:20px;
    border-radius:10px;
}


.display4 {
color: #eef3f8;
font-size: 24px;
}

.lead{
    font-size: 18px;
    color:#28a745;
}

.form-container{
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
}



@import url('https://fonts.googleapis.com/css?family=Roboto:700');

.mt-3 .name body {
  font-family:'Roboto';
  background-color: #131417;  
}
.mt-3 .name p {
  text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
}
.mt-3 .name .container {
  color: #F8F8F8;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt-3 .name .animation {
  height:50px;
  overflow:hidden;
  margin-left: 1rem;
}

.mt-3 .name .animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.mt-3 .name .animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color:#20a7d8;
}
.second div {
  background-color:#CD921E;
}
.third div {
  background-color:#337418;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}
