.circular-image-container{
    width:260px;
    height:260px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #ccc;

    display: flex;
    justify-content: center;
    align-items: center;
}

.circular-image{
width:100%;
height: auto;
display: block;
}

.col-12 .text-center .mt-3 .name h1{
  color: #0000;
  font-weight: bold;
}

.col-12 .text-center .mt-3 .title{
  color: #0000;
  font-weight: 1000;
}

.social_links{
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #ccc;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about_image{
    width: 200px;
    height: auto;
    display: block;
}

.jumbtron{
    background-color: #002244;
    padding:20px;
    border-radius:10px;
}


.display4 {
color: #eef3f8;
font-size: 24px;
}

.lead{
    font-size: 18px;
    color:#28a745;
}

.form-container{
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.typing {
  color: #5161ce; /* ou #00FFFF */
  font-weight: 1600;
  letter-spacing: 3px;
  font-size: 2.5em;
}

.typing::after {
  content: "|";
  animation: blink 60s infinite;
  color: #5161ce;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}


